@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";

@import "home";

body {
  background-color: $color-bg-purple;
  color: $color-white;
  font-family: $font-family-montserrat;
}
